@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.first-section .header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.first-section .header .title{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Lora', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 54px;
}

.first-section .img-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.first-section .img-title img {
    width: 379px;
    height: 617.89px;
    top: 41px;
    border-radius:16px;
    cursor: pointer;
}

.first-section .img-title img:hover {
    opacity: 0.7;
}

.first-section .paragraph-body{
    margin-top: 2rem;
    width: 810px;
    height: 192px;
    margin-left: 22%;
    margin-right: 10%;
}

.first-section .paragraph-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.first-section .paragraph-item p {
    font-family: 'Lato';
    font-weight: 400px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
}

.second-section{
    margin-top: 8rem;
}

.second-section .section-body-first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.second-section .section-body-first .img-title img{
    width:684px;
    height: 800px;
    border-radius: 24px;
    cursor: pointer;
}

.second-section .section-body-first .img-title img:hover{
    opacity: 0.8;
}

.second-section .section-body-first .paragraph-body{
    background-color: #F4F0EA;
    width:684px;
    height: 800px;
    border-radius: 24px;
}

.second-section .section-body-first .paragraph-body .body-content{
    width: 587px;         
    height: auto;  
    padding-top: 200px;        
    padding-left: 49px;        
}

.second-section .section-body-first .paragraph-body .body-content .header{
    font-family: 'Lora','Lucida Sans' ;
    font-weight: 400;
    font-size: 64px;
}

.second-section .section-body-first .paragraph-body .body-content .paragraph-item {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #1f1f1f;
    padding-bottom: 2rem;
    cursor: pointer;
}

.second-section .section-body-first .paragraph-body .body-content .paragraph-item:hover {
    transform: scale(1.03);
}

.second-section .section-body-first .paragraph-body .body-content .paragraph-item .title {
    font-size: 20px;
}

.second-section .section-body-first .paragraph-body .body-content .paragraph-item .content {
    font-size: 14px;
    line-height: 22px;
    opacity: 0.8;
}

.second-section .section-body-second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4px;
}

.second-section .section-body-second .img-title img{
    width:684px;
    height: 800px;
    border-radius: 24px;
    cursor: pointer;
}

.second-section .section-body-second .img-title img:hover{
    opacity: 0.8;
}

.second-section .section-body-second .paragraph-body{
    background-color: #F4F0EA;
    width:684px;
    height: 800px;
    border-radius: 24px;
}

.second-section .section-body-second .paragraph-body .body-content{
    width: 587px;
    height: auto;
    padding-top: 300px; 
    padding-left: 49.5px;
    position: relative;
}

.second-section .section-body-second .paragraph-body .body-content .header{
    font-family: 'Lora','Lucida Sans' ;
    font-weight: 400;
    font-size: 64px;
    line-height: 74px;
}

.second-section .section-body-second .paragraph-body .paragraph-item .content{
    font-family: 'Lora','Lucida Sans' ;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
    opacity: 0.8;
}






